.container{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    padding-left: 80px;
    position: fixed;
    top:9vh;
}

.color{
  cursor: pointer;
  text-decoration: none;
  font-size: 13.5px;
  padding: 1px 2px;
  border: 2px solid #af99db;
  border-radius: 4px;
  color:black; 
  opacity: 0.99;
}

.maincolor{
  text-decoration: none;
  font-size: 14px;
  opacity: 0.9;
  font-weight: 600;
  cursor: pointer;
  color:#af99db;
}

 .content{
  font-size: 14px;
  opacity: 0.8;
 }

.dropdown{
  list-style-type: none;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    opacity: 0.9;
    font-weight: 600;
  }

.link:hover{
    cursor: pointer;
    color:#af99db;
}

.link p{
  display: flex;
  align-items: center;
}

.link p .rotate{
 transform: rotate(-180deg);
}

  .works{
    list-style-type: none;
  }

  .linked{
    text-decoration: none;
    color: black;
    font-size: 13.5px;
    opacity: 0.7;
  }

  .linked:hover{
    cursor: pointer;
    padding: 1px 2px;
    border: 2px solid #af99db;
    border-radius: 4px;
    color:black; 
    opacity: 0.99;
  } 
 
  .dropdown li:nth-child(2){
    line-height: 25px;
    }

  .dropdown li:nth-child(4){
    line-height: 25px;
  }


 

  
  
 

 

