.container{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 80vh;
  grid-template-areas: 
  "nv nv nv nv nv"
  "sd ch ch ch ch";
}

.navbar{
  grid-area: nv;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar{
  top:0px;
}

.sidebar{
  position: fixed;
  grid-area: sd;
}

.sidebar{
  top: 10vh;
}

.children{
  grid-area: ch;
}


@media (max-width:800px) {
  .sidebar{
    display: none;
  }

  .container{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 15vh 85vh;
  grid-template-areas: 
  "nv nv nv nv nv"
  "ch ch ch ch ch";
  padding-left: 10px;
  padding-right: 10px;
  }
   
  .navbar{
   grid-area: nv;
  }

  .children{
  grid-area: ch;
  }

  }
