.container{
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns:280px 1fr 1fr 1fr 280px;
  grid-template-rows: 6vh auto;
  grid-template-areas:
  "nv nv nv nv nv" 
  "sd-L ch ch ch ch";
}

.navbar{
  grid-area: nv;
}

.sidebar{
  grid-area: sd-L;
}

.children{
  grid-area: ch;
}

.active{
 color:green;
}

@media (max-width:750px) {
  .sidebar{
    display: none;
  }

  .container{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 6vh auto;
  grid-template-areas: 
  "nv nv nv"
  "ch ch ch ";
  }

  .navbar{
    grid-area: nv;
  }
  
  .children{
  grid-area: ch;
  }
}
